{%extends 'layout.html' %}
{% block content %}
    <form action="/list"  method="GET">
    <select name="sort">
        <option value="submission_time">Submission Time</option>
        <option value="title">Title</option>
        <option value="vote_number">Vote Number</option>
        <option value="message"> Message </option>
        <option value="view_number">Views Number</option>
    </select>
        <select name="sort_direction">
        <option value="descending">Descending</option>
        <option value="ascending">Ascending</option>
    </select>
     <button type="submit">Submit</button>
    </form>
    <br>

    <table>
        <tr>
            <td>Votes</td>
            <td>Title</td>
            <td>Question</td>
            <td>Time</td>
            <td>Views Numbers</td>
        </tr>
        {% for i in information %}
        <tr>
            <td>
                <form action="/question/{{ i['id'] }}/vote_up" method="post">
                    <button type="submit" name="up">Vote up</button>
                </form>
                {{ i['vote_number'] }}
                <form action="/question/{{ i['id'] }}/vote_down" method="post">
                    <button type="submit" name="down">Vote down</button>
                </form>
            </td>
            <td> <a href="/question/{{ i['id'] }}">{{i['title']}} </a></td>
            <td>{{i['message']}}</td>
            <td>{{ data.get_date_time(i['submission_time']) }}</td>
            <td> {{ i['view_number'] }}</td>
            <td><a class="editButton" href="/edit/{{ i['id'] }}">Edit</a></td>
            <td><a class="deleteButton" href="/delete/{{ i['id'] }}">Delete</a></td>
        </tr>
        {%endfor%}
    </table> <br>


    <a class="button" href="/add"> Add new question </a>

{% endblock content %}
